.mainView {
    background-color: lightgray;
    width: 100vw;
}

.columnStyle {
    margin: auto;
}

.charsStyle {
    text-align: center;
    padding-bottom: 0px;
}

.historyColumnStyle {
    background-color: tan;
    border: 2px solid black;
}

.nodeTextSelectedClassStyle {
    font-size: 140%;
    font-weight: bold;
    user-select: none;
}

.nodeTextUnselectedClassStyle {
    font-size: medium;
    user-select: none;
}