.mainView {
    background-color: lightgray;
    width: 100vw;
}

.columnStyle {
    margin: auto;
}

.charsStyle {
    text-align: center;
    /* margin-bottom: 5px; */
    padding-bottom: 0px;
}

.charArrayStyle {
    background-color: tan;
}

.historyColumnStyle {
    border: 2px solid black;
    background-color: tan;
}

.historyEquationCellStyle {
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(255,255,255,.6);
}